In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
import folium
import requests
from pandas.io.json import json_normalize

### Creation of previous dataframe condensed into single cell:

In [2]:
# Import html into pandas dataframe and Select required table into dataframe variable (df):
alltables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = alltables[0]

# Ignore cells with a borough that is **Not assigned**:
df.drop(df[df['Borough'] == 'Not assigned'].index, axis = 0, inplace = True)

# If a cell has a borough but a **Not assigned** neighborhood, then the *neighborhood* will be the same as the *borough*.
df['Neighborhood'].replace(to_replace = 'Not assigned', value = df['Borough'], inplace = True)

# **Dataframe cleanup** (neighborhoods separated by comma, rename column and index reset):
df['Neighborhood']=df['Neighborhood'].apply(lambda x: x.replace(' /', ','))
df.rename(columns={"Postal code": "Postal Code"}, inplace=True)
df.reset_index(inplace=True, drop = True)

df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Import Geospatial Coordinates:

In [3]:
geo = pd.read_csv('Geospatial_Coordinates.csv')
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Merge Dataframes

In [4]:
df = df.merge(geo, on=['Postal Code'], how='left')

### Check Updated Dataframe

In [5]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [6]:
df.shape

(103, 5)

In [7]:
df.isna().sum()

Postal Code     0
Borough         0
Neighborhood    0
Latitude        0
Longitude       0
dtype: int64

In [8]:
print('Toronto has {} boroughs and {} neighborhoods.'.format(
        len(df['Borough'].unique()),
        df.shape[0]
    )
)

Toronto has 10 boroughs and 103 neighborhoods.

### Display Dataframe

In [9]:
df.head(10)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937